# Ignore all files in data directory but keep the directory
data/*
!data/.gitkeep

# Ignore all .png files in fakeData directory
fakeData/*.png
!fakeData/.gitkeep

# Ignore all files in log_metrics directory but keep the directory
log_metrics/*
!log_metrics/.gitkeep

# Ignore all files in weights directory but keep the directory
weights/*
!weights/.gitkeep

# Ignore all files in experiment_results directory but keep the directory
experiment_results/*
!experiment_results/.gitkeep

# Ignore all files in .venv directory but keep the directory
.venv/*
!.venv/.gitkeep

# Ignore all files in expreimant_results_ext directory but keep the directory
experiment_results_ext/*
!experiment_results_ext/.gitkeep

venv/*

